<!doctype html>
<html lang="en">

<head>
  <title>QueryCat Console</title>
  <meta charset="UTF-8" />
  <meta name="description" content="QueryCat web console" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.14/dist/quasar.prod.css" rel="stylesheet" type="text/css">

  <style>
    .sticky-header-table {
      max-height: 700px;
    }
    .sticky-header-table thead tr:first-child th {
      background-color: white;
    }
    .sticky-header-table thead tr th {
      position: sticky;
      z-index: 1;
      user-select: text;
    }
    .sticky-header-table thead tr:first-child th {
      top: 0;
    }
    .sticky-header-table .q-table--loading thead tr:last-child th {
      top: 48px;
    }
    .query-editor {
      font-family: monospace;
      height: calc(100% - 40px);
      outline: 0 none transparent;
    }
    ul {
      padding-left: 1em;
    }
  </style>
</head>

<body>
  <div id="q-app">
    <q-bar class="bg-primary text-white">
      <div>QueryCat Console</div>
    </q-bar>

    <q-tabs dense no-caps align="left" class="bg-secondary text-white">
      <q-route-tab to="/" label="Query"></q-route-tab>
      <q-route-tab to="/files" label="Files"></q-route-tab>
      <q-route-tab to="/info" label="Info"></q-route-tab>
    </q-tabs>

    <router-view v-slot="{ Component }">
      <keep-alive>
        <component :is="Component" />
      </keep-alive>
    </router-view>
  </div>

  <!-- QueryPage -->
  <template id="query-page">
    <q-splitter
      v-model="splitterModel"
      horizontal
      style="height: calc(100vh - 75px);">
      <template v-slot:before>
        <q-form
          @submit.prevent="runQuery"
          method="post"
          class="full-height">
          <div>
            <q-btn type="submit" label="Run" size="sm" color="primary" class="q-ma-xs" icon="send"></q-btn>
          </div>
          <textarea
            v-model="query"
            @keydown.ctrl.enter.prevent="runQuery"
            class="full-width query-editor"
            spellcheck="false"
            autofocus>
          </textarea>
        </q-form>
      </template>
      <template v-slot:after>
        <q-table
          :rows="rows"
          :columns="columns"
          class="sticky-header-table full-height"
          no-data-label="No data."
          dense flat square bordered hide-no-data
          separator="vertical"
          row-key="row_number"
          virtual-scroll
          :filter="filter"
          v-model:pagination="pagination"
          :rows-per-page-options="[0]"
          :virtual-scroll-sticky-size-start="48">
          <template v-slot:top-right>
            <q-input dense debounce="300" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
        </q-table>
      </template>
    </q-splitter>
  </template>

  <!-- InfoPage -->
  <template id="info-page">
    <div class="q-pa-md">
      <div class="row">
        <div class="col-2 text-bold">Version</div>
        <div class="col-10" v-html="version"></div>
      </div>
      <div class="row">
        <div class="col-2 text-bold">OS</div>
        <div class="col-10" v-html="os"></div>
      </div>
      <div class="row">
        <div class="col-2 text-bold">Platform</div>
        <div class="col-10" v-html="platform"></div>
      </div>
      <div class="row">
        <div class="col-2 text-bold">Installed plugins</div>
        <div class="col-10">
          <ul>
            <li v-for="plugin in installedPlugins" :key="plugin.name">
              {{ plugin.name }}
              <code>({{ plugin.uri }})</code>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>

  <!-- Files -->
  <template id="files-page">
    <div class="q-pa-md">
      <q-table
        :rows="rows"
        :columns="columns"
        :hide-pagination="true"
        :rows-per-page-options="[0]"
        row-key="name"
        dense flat square hide-no-data>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="name" :props="props">
              <q-icon v-if="props.row.type === 'd'" name="folder"></q-icon>
              <q-icon v-if="props.row.type === 'f'" name="description"></q-icon>
              &nbsp;&nbsp;

              <router-link :to="{ path: 'files', query: { q: getFullPath(props.row.name) }}">{{ props.row.name }}</router-link>
            </q-td>
            <q-td key="last_write_time" :props="props">
              {{ props.row.last_write_time }}
            </q-td>
            <q-td key="size" :props="props">
              {{ props.row.size_pretty }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@2.14/dist/quasar.umd.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@4/dist/vue-router.global.min.js"></script>

  <script>
    /*
     * QueryPage.
     */
    const queryPage = {
      template: document.querySelector('#query-page'),
      data() {
        return {
          query: Vue.ref(''),
          rows: [],
          filter: Vue.ref(''),
          columns: [],
          schema: []
        }
      },
      methods: {
        runQuery: function(evt) {
          const self = this;
          axios({
            method: 'post',
            url: window.baseUrl + 'api/query',
            data: {
              query: self.query
            }
          })
          .then(function(response) {
            self.columns = response.data.schema.map(function(col) {
              return {
                label: col.name,
                name: col.name,
                field: col.name,
                align: 'left',
                sortable: true,
                headerStyle: 'font-weight: bold'
              }
            });
            self.rows = response.data.data;
            localStorage.setItem('lastQuery', self.query);
          });
        }
      },
      setup: function() {
        return {
          pagination: Vue.ref({
            rowsPerPage: 0
          }),
          splitterModel: Vue.ref(40)
        }
      },
      mounted: function() {
        this.query = localStorage.getItem('lastQuery');
        if (location.protocol !== 'https:') {
          Quasar.Notify.create({
            type: 'warning',
            message: 'You are using insecured HTTP connection!'
          });
        }
      }
    }

    /*
     * InfoPage.
     */
    const infoPage = {
      template: document.querySelector('#info-page'),
      data: function() {
        return {
          version: '',
          os: '',
          installedPlugins: '',
          platform: ''
        }
      },
      mounted: function() {
        const self = this;
        axios({
            url: window.baseUrl + 'api/info'
        })
        .then(function(response) {
          self.version = response.data.version;
          self.os = response.data.os;
          self.installedPlugins = response.data.installedPlugins;
          self.platform = response.data.platform;
        });
      }
    }

    /*
     * Files page.
     */
    const filesPage = {
      template: document.querySelector('#files-page'),
      data: function() {
        return {
          pathElements: ['/'],
          rows: [],
          columns: [{
            name: 'name',
            label: 'Name',
            field: 'name',
            align: 'left',
            headerStyle: 'font-weight: bold',
            sortable: true
          }, {
            name: 'last_write_time',
            label: 'Last Update',
            field: 'last_write_time',
            align: 'left',
            headerStyle: 'font-weight: bold',
            sortable: false
          }, {
            name: 'size',
            label: 'Size',
            field: 'size',
            align: 'left',
            headerStyle: 'font-weight: bold',
            sortable: true
          }]
        }
      },
      watch: {
        '$route.query.q': function(to, from) {
          this.setPathElements(to);
          this.runQuery();
        }
      },
      methods: {
        getFullPath: function(name) {
          if (this.pathElements.length === 0) {
            this.pathElements.push('/');
          }
          var fullPath = name !== '../' ? this.pathElements.join('/')
            : this.pathElements.slice(0, -1).join('/') + '/';
          if (name.length > 0 && name !== '../') {
            fullPath += '/' + name;
          }
          return fullPath;
        },
        runQuery: function() {
          const self = this;
          const path = self.$route.query.q;
          // Download file.
          if (path && path.length > 0 && path[path.length - 1] !== '/') {
            self.$router.go(-1);
            window.location.assign(window.baseUrl + 'api/files?q=' + path);
            return;
          }
          axios({
            url: window.baseUrl + 'api/files',
            params: {
              q: path
            }
          })
            .then(function(response) {
              self.rows = response.data.data;
            });
        },
        setPathElements: function(to) {
          to = to ?? '';
          const elements = to.split('/');
          // Convert /home/user/temp/.. to /home/user/.
          for (var i = 1; i < elements.length; i++) {
            if (elements[i] === '..') {
              elements[i] = '';
              elements[i - 1] = '';
            }
          }
          this.pathElements = elements.filter(function (el) {
            return el.length > 0;
          });
        }
      },
      mounted: function() {
        this.setPathElements(this.$route.query.q);
        this.runQuery();
      }
    }

    /*
     * Initialize the app.
     */
    const router = VueRouter.createRouter({
      history: VueRouter.createWebHashHistory(),
      routes: [
        { path: '/', component: queryPage },
        { path: '/info', component: infoPage },
        { path: '/files', component: filesPage }
      ]
    });

    document.addEventListener('DOMContentLoaded', function() {
      axios.interceptors.response.use(
        function(response) {
          return response;
        },
        function(error) {
          var errorMessage = error.message;
          if (error.response && error.response.data && error.response.data.message)
          {
            errorMessage = error.response.data.message;
          }
          Quasar.Notify.create({
            type: 'negative',
            message: errorMessage
          });
          return Promise.reject(error);
      });

      const app = Vue.createApp();
      app.use(Quasar, {
        config: {
          notify: {},
          brand: {
            primary: '#7f7f7f',
            secondary: '#999999',
            accent: '#9C27B0',

            dark: '#1d1d1d',
            'dark-page': '#121212',

            positive: '#21BA45',
            negative: '#C10015',
            info: '#31CCEC',
            warning: '#F2C037'
          }
        }
      });
      app.use(router);
      app.mount('#q-app');
    });
  </script>
  <script>
    window.baseUrl = '';
    <!-- There should not be any content below since footer is auto generated by QueryCat backend web server. -->
