#
# Release the new version of QueryCat CLI for Linux on push to main.
#

name: Publish Linux x64 Version

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10'

      - name: Install GitVersion
        run: dotnet tool install --global GitVersion.Tool --version 6.*

      - name: Install ARM64 Dependencies
        # https://learn.microsoft.com/en-us/dotnet/core/deploying/native-aot/cross-compile#linux
        run: |
          sudo dpkg --add-architecture arm64
          sudo sed -i '/Types: deb/a Architectures: amd64' /etc/apt/sources.list.d/ubuntu.sources
          sudo bash -c 'cat > /etc/apt/sources.list.d/arm64.sources <<EOF
          Types: deb
          Architectures: arm64
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble noble-updates noble-backports
          Components: main universe restricted multiverse
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
          EOF'
          sudo apt update
          sudo DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt install -y tzdata
          sudo apt install -y clang llvm binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu zlib1g-dev:arm64

      - name: Run build Cake script
        run: ${PWD}/build.sh -t publish-all -- --platform linux

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: qcat-linux-x64-arm64
          path: output/qcat-*.tar.gz
